<h1>Daftar Mahasiswa</h1>
<% if (mahasiswa.lenght < 1) { %>
<h3>Data mahasiswa tidak ada</h3>
<% } else{ %> <% mahasiswa.forEach(mhs => { %>
<ul>
  <li><%= mhs.nama %></li>
  <li><%= mhs.nim %></li>
  <li><%= mhs.email %></li>
</ul>
<% }) %> <% } %>
