<%- include("layouts/partials/header") %> <%- include("layouts/partials/nav") %>

<h1>
  Ini adalah halaman coba tanpa menggunakan package 'express-ejs-layouts' tapi
  menggunakan 'include'
</h1>
<%- include("layouts/partials/footer") %>
